@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,500&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

/* cabeçalho fundo dele */
#navbar {
  background: linear-gradient(120deg, #0f0f0fde, #000000ce);
  color: #eee;
  width: 100%;
  padding: 10px;
  height: 60px;
  position: fixed;
}

/* cabeçalho dentro dele */
#navbar-container {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

/* animar */
@keyframes efeito {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position: 400%;
  }
}

/* cabeçalho logo */
.logo {
  font-size: 2.2rem;
  background: linear-gradient(120deg, #2eee07d8, #0adae9da);
  animation: efeito 10s linear alternate;
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
  margin-left: 20px;
}

.logo a {
  text-decoration: none;
  color: #eee;
}

/* cabeçalho menu */
#menu {
  display: flex;
  padding: 20px;
  gap: 25px;
  margin-right: 30px;
}

#menu a {
  color: #eee;
  text-decoration: none;
  font-size: 1.3rem;
  margin: 20px;
}

#menu a:hover {
  background: #eee;
  color: black;
  padding: 10px;
  border-radius: 5px;
  transition: 1.2s;
  cursor: pointer;
}

body {
  background: #bcbaba92;
}

#products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(230, 230, 230, 0.504);
}

.headline {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  font-style: oblique;
  letter-spacing: 2px;
  background-color: rgba(124, 255, 76, 0);
  padding: 10px;
  border-radius: 8px;
}

#montar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.container {
  display: flex;
  justify-content: center;
}

.card {
  width: 360px;
  height: 480px;
  background-color: #202020;
  border-radius: 15px;
  justify-content: center;
  margin-top: 100px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
}

.card img {
  justify-content: center;
  margin-left: 27%;
}

.card1 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.texto {
  margin-top: 20px;
}

.texto-main {
  text-align: center;
  color: #eee;
  margin-bottom: 40px;
  font-family: sans-serif;
  font-weight: bold;
}

.descricao {
  color: #eee;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
  width: 70%;
  margin: 0px auto;
  margin-bottom: 25px;
  text-align: center;
  box-sizing: border-box;
}

.btn {
  padding: 10px 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 4px;
  cursor: pointer;
}

.botao {
  display: flex;
  justify-content: center;
  margin-top: 17%;
}

.btn:hover {
  cursor: pointer;
  background-color: #111;
  color: whitesmoke;
  transition: 0.6s;
}
